.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.padding10px {
  padding-top: 10px;
}



.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.flexContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flexItem {
  flex-grow: 1;
  height: 100px;
  
}

.item + .item {
  margin-left: 2%;
}



.dividerSpan {
  margin-right: 0px;
  font-size: 0px;
  visibility: hidden;
  height: 0;
}

.dividerBtm {
  border-bottom: 1px solid black;
  width: 2rem;
  height: 5px;
  display: inline-block;
}

@media screen and (min-width:650px){
  .flexContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
  }


  .dividerSpan {
    font-size: 24px;
    visibility: visible;
    margin-left: 40px;
    margin-right: 40px;
    height: auto;
  }

  .dividerBtm {
    visibility: hidden;
  }



  
}